* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.main { 
}

/* BEGIN: HEADER */
.header {
    height: 46px;
    background-color: #000;
    overflow: hidden;
    /* position: fixed; */
}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
}

.navbar li:hover a {
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.header .search-btn {
    float: right;
    color: #fff;
}

.header .search-btn:hover {
    cursor: pointer;
    background-color: rgb(141, 0, 0);

}

.header .search-icon {
    font-size: 20px;
    padding: 0 18px;
    line-height: 46px;
}

/* END HEADER */


/* START SLIDER */
.slider {
    /* margin-top: 46px; */
    position: relative;
    padding-top: 50%;
    background: url('/asset/img/slide-lang-quan-ho.jpg') center/ cover no-repeat;

}

.text-content {
    position: absolute;
    bottom: 10%;
    color: #fff;
    width: 100%;
    text-align:center;
    text-shadow: 0 0 5px rgb(51, 51, 51);
}

.text-heading {
    font-weight: 500;
    font-size: 35px;

}
.text-description {
    font-size: 18px;
    margin-top: 25px;

}
/* END SLIDER */

.content {

}

.content-section {
    padding: 64px 15px;
    /* left: auto;
    right: auto; */
    text-align: center;
}

.section-heading {
    margin: 10px 0;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;

}

.sub-heading {
    margin: 15px 0;
    opacity: 0.6;
    font-size: 15px;
    font-style: italic;
    

}

.about-text {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;


}

.img-list {
    margin-top: 48px;

}

.img-item {
    padding: 20px 0;
    float: left;
    width: 33.33%;
    text-align: center;

}

.name-img {
    margin: 15px 0;
    opacity: 0.9;
    font-size: 15px;
    font-style: italic;

}

.img-location {
    margin-top: 15px;
    width: 250px;
    height: 180px;
    border-radius: 6px;
 
}

/* CONTACT FORM */

.contact-section {
    background-color: rgb(240 240 240);
    

}

.contact-form {
    margin: 48px 30px;

}

.text-form-info {
    text-align: left;
    font-size: 15px;
    line-height: 1.4;
    padding: 25px 0;

}

.text-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}

.text-form-info i {
    width: 25px;
    display: inline-block;
}

.text-form .form-message {
    width: 100%;
    display: block;
}

.btn-submit {
    margin-top: 12px;
    padding: 12px 15px;
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 1px solid #ccc;
}

.btn-submit:hover {
    cursor: pointer;
    opacity: 0.8;

}


.footer {

}

.social-list {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
}

.social-list a {
    text-decoration: none;
    color: #000;
    font-size: 20px;

}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    margin-bottom: 20px;
    font-weight: 600;
}